---
import Layout from "../layouts/Layout.astro";

import Footer from "../components/Footer.astro";
import Billboard from "../components/Billboard.astro";

import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import ContentList from "../components/ContentList.astro";

const content = await fetch(`${Astro.url}api/random`).then((response) =>
  response.json()
);
const movies = await fetch(`${Astro.url}api/getMovies`).then((response) =>
  response.json()
);
const radios = await fetch(`${Astro.url}api/getRadios`).then((response) =>
  response.json()
);


/* const content = {
  id: '659afe4de4b85c62b6ff7d1f',
  type: 'Movie',
  title: 'Big Buck Bunny',
  description: 'Three rodents amuse themselves by harassing creatures of the forest. However, when they mess with a bunny, he decides to teach them a lesson.',
  contentUrl: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4',
  genre: 'Comedy',
  duration: '10 minutes',
  thumbnailUrl: 'http://uhdtv.io/wp-content/uploads/2020/10/Sintel-3.jpg'
} */
---

<Layout title="Colibra Play">
  <main class="">
    <Navbar />


      <Billboard data={content} />
      <div class="pb-40">
        <ContentList data={movies} title="Populares" />
        <ContentList data={movies} title="Documentales" />
        <ContentList data={radios} title="Radios Online" /> 
        <ContentList data={movies} title="Podcasts" />
        <ContentList data={movies} title="Videos" />
      </div>

      <Footer />

 

  </main>
</Layout>
