---
import Layout from "../layouts/Layout.astro";
/* import Header from "../components/Header.astro"; */
import Footer from "../components/Footer.astro";
import Billboard from "../components/Billboard.astro";
/* import Row from "../components/Row.astro"; */
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";


const data = await fetch(`${Astro.url}api/random`).then((response) => response.json());

/* const data = `${Astro.url}api/random` */
console.log(data,"url");

/* const getData =  async () => {
  const response =  await fetch(`${Astro.url}/api/random`)
  const data =  response.json();
  return data;


};
 */
/* const content = await getData(); */

const content = {
  id: '659afe4de4b85c62b6ff7d1f',
  type: 'Movie',
  title: 'Big Buck Bunny',
  description: 'Three rodents amuse themselves by harassing creatures of the forest. However, when they mess with a bunny, he decides to teach them a lesson.',
  contentUrl: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4',
  genre: 'Comedy',
  duration: '10 minutes',
  thumbnailUrl: 'http://uhdtv.io/wp-content/uploads/2020/10/Sintel-3.jpg'
}


---

<Layout title="Colibra Play">
  <main class="w-full h-screen">
    <Navbar />
 

    {content && <Billboard data={content} /> }
    

<!--     <Row title="Popular en Colibra Play" data={content} />

    <Row title="Documentales" data={content} />

    <Row title="Radio Online" data={content} />

    <Row title="Videos a la carta" data={content} /> -->

    <Footer />
  </main>
</Layout>
