---
import BotonReproducir from "./BotonReproducir.astro";
import BotonInformacion from "./BotonInformacion.astro";
import Row from "./Row.astro";

interface Props {
  data: {
    contentId: string;
    type: string;
    title: string;
    description: string;
    contentUrl: string;
    genre: string;
    duration: string;
    thumbnailUrl: string;
  };
}

const { data } = Astro.props;
---

<section class="relative h-[56.25vw]">
  <video
    class="w-full h-[56.25vw] object-cover brightness-[60%]"
    autoplay
    muted
    loop
    poster={data?.thumbnailUrl}
    src={data?.contentUrl}></video>

  <div class="absolute top-[30%] md:top-[40%] ml-4 md:ml-16">
    <p
      class="text-white text-xl md:text-5xl h-full w-[50%] lg:text-6xl font-bold drop-shadow-xl"
    >
      {data?.title}
    </p>

    <p
      class="text-white text-[8px] md:text-lg mt-3 md:mt-8 w-[80%] md:w-{80%] lg:w-[50%] drop-shadow-xl"
    >
      {data?.description}
    </p>
    <div class="flex flex-row items-center mt-3 md:mt-4 gap-1">
      <BotonReproducir ContentId={data.contentId} />
 <!--      <BotonInformacion data={data} /> -->
    </div>
  </div>
</section>

<!-- ** Portada inicial Colibra Play con títulos recomendados ** -->
<!-- <section class="w-full h-[50rem] border-2 border-purple-400">
  <img
    src="/portada-prueba.jpg"
    class="absolute w-full h-[50rem] aspect-auto -z-50"
    alt=""
    srcset=""
  />

  <div class="flex flex-col w-full h-full justify-start pt-28 gap-8 px-40">
    <h1 class="text-5xl text-white">Nombre</h1>

    <h2 class="text-xl text-white">categoria</h2>

    <p class="text-lg text-gray-400 tracking-wide text-pretty w-2/5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      asperiores eos dignissimos veritatis pariatur ullam vel repellendus
      deleniti minima molestias, cum ducimus tempora facere ratione aut hic.
      Eum, aliquid provident!
    </p>

    <div class="flex flex-row gap-8 size-16">
      <BotonReproducir />
      <BotonInformacion />

    </div>

    <Row title="Popular en Colibra Play" data={data} />
  </div>
</section>
 -->
