---
interface Props {
  key?: number;
  title?: string;
  url?: string;
  thumbnailUrl?: string;
}

const { key, title, url, thumbnailUrl } = Astro.props;
---
<a href=`/player/${key}`>
<li
  class="relative h-28 min-w-[180px] cursor-pointer transition duration-200 ease-out md:h-36 md:min-w-[260px] md:hover:scale-105 border-2 mx-4"
>
  <h2>
    {title}
  </h2>
  <!--   <img src={thumbnailUrl} alt={title} /> -->
  <div
    class="absolute inset-0 bg-cover bg-center -z-50 opacity-50 hover:opacity-100"
    style=`background-image: url(${thumbnailUrl});`
  >
  </div>
</li>
</a>