---
import BotonInformacion from "./BotonInformacion.astro";
import BotonReproducir from "./BotonReproducir.astro";

interface Props {
  data: {
    contentId: string;
    type: string;
    title: string;
    description: string;
    contentUrl: string;
    genre: string;
    duration: string;
    thumbnailUrl: string;
  };
}

const { data } = Astro.props;
---

<!-- h-[28vw] -->
<a
  class="group bg-zinc-900 w-1/3 lg:w-full lg:col-span md:col-span relative lg:h-[12vw] h-[40vw] hover:scale-110"
  href=`/info/${data.contentId}`
>
  <img
    src={data.thumbnailUrl}
    alt="Thumbnail"
    class="cursor-pointer
    object-cover
    transition
    duration
    shadow-xl
    rounded-md
    group-hover:opacity-90
    sm:group-hover:opacity-0
    delay-300
    w-full
    lg:h-[12vw] h-[40vw]"
  />

  <div
    class="opacity-0
    absolute
    top-0
    transition
    duration-200
    z-10
    invisible
    sm:visible
    delay-300
    w-full
    scale-0
    group-hover:scale-110
    group-hover:-translate-y-[6vw]
    group-hover:translate-x-[2vw]
    group-hover:opacity-100"
  >
    <img
      src={data.thumbnailUrl}
      alt="Thumbnail"
      class="cursor-pointer
      object-cover
      transition
      duration
      shadow-xl
      rounded-t-md
      w-full
      h-[12vw]"
    />
    <div
      class="z-10
      bg-zinc-800
      p-2
      lg:p-4
      absolute
      w-full
      transition
      shadow-md
      rounded-b-md"
    >
      <div class="flex flex-row items-center gap-3">
        <div
          class="flex flex-row items-center justify-start scale-75 w-6 h-6 lg:w-10 lg:h-10 p-1"
        >
          <BotonReproducir ContentId={data.contentId} />
          <BotonInformacion ContentId={data.contentId} />

          <!-- 
          <Play /> -->
        </div>
      </div>
      <p class="text-green-400 font-semibold mt-4">
        Novedad <span class="text-white">2023</span>
      </p>

      <div class="flex flex-row mt-4 gap-2 items-center">
        <p class="text-white text-[10px] lg:text-sm">{data.duration}</p>
      </div>

      <div class="flex flex-row mt-4 gap-2 items-center">
        <p class="text-white text-[10px] lg:text-sm">{data.genre}</p>
      </div>
    </div>
  </div>
</a>
